{% extends 'layout.html.twig' %}

{% block body %}
    <div class="news-detail-container">
        <div class="news-detail-header">
            <h1>{{ news.title }}</h1>
        </div>
        
        <div class="news-detail-content">
            {% if news.thumbnail %}
                <div class="news-detail-image">
                    {{ news.thumbnail.thumbnail({width: 800}).html|raw }}
                </div>
            {% endif %}
            
            <div class="news-text">
                {{ news.newsArticle|raw }}
            </div>
        </div>
        
        <div class="news-detail-footer">
            <a href="{{ path('news_list') }}" class="back-to-news">
                &laquo; Back to News
            </a>
        </div>
    </div>
{% endblock %}